<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>포스트 상세 정보</title>
  </head>

  <body>
    <h2><a href="{% url 'ideas:idea_create'%}">아이디어 등록</a></h2>
    <h2><a href="{% url 'ideas:idea_list'%}">아이디어 관리</a></h2>
    <h2><a href="{% url 'ideas:devt_create'%}">개발툴 등록</a></h2>
    <h2><a href="{% url 'ideas:devt_list'%}">개발툴 관리</a></h2>

    <div class=list-poster>
        {% if idea.image %}
            <img src="{{idea.image.url}}" height="220" width="160">
        {% else %}
          <img src="https://picsum.photos/seed/{{idea.id}}/160/220?">
        {% endif %}
    </div>
    <h1>{{ idea.title }}</h1>
    <p>1)아이디어 관심도: <br>{{ idea.interest }}</p>
    <p>2)예상 개발 툴: <br>{{ idea.devtool }}</p>
    <p>3)아이디어 설명: <br>{{ idea.content }}</p>    

    <a href="{% url 'ideas:idea_list' %}">목록</a>
    <a href="{% url 'ideas:idea_update' idea.id %}">수정</a>
    <a href="{% url 'ideas:idea_delete' idea.id %}">삭제</a>



  </body>
</html>