{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <div class="main__container">
        {% for post, comments in order_comments.items %}
            <div class="card post__container post-id-{{ post.id }}">
                <div class="card-body">
                    <div class="card-title">{{ post.title }}</div>
                    <div class="card-text">{{ post.content }}</div>
                    <div id="post">
                        <textarea class="replyContent" placeholder="댓글 입력"></textarea>
                        <input type="button" value="게시" onclick="onClickPost({{ post.id }})">
                    </div>
                    <div id="comment">
                        {% for c in comments %}
                            <div class="comment-id-{{ c.id }}">
                                {{ c.content }}
                                <input type="button" value="삭제" onclick="onClickDelete({{ c.id }})">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="btn btn-primary post__like" onclick="onClickLike({{ post.id }})">Like {{ post.like }}</div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block extra %}

<script>
    const requestLike = new XMLHttpRequest();

    const onClickLike = (id) => {
        const url = "/like_ajax/";
        requestLike.open("POST", url, true);
        requestLike.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        requestLike.send(JSON.stringify({id: id})); // {'id': 1, 'type': 'like'}
    };

    const likeHandleResponse = () => {
        if (requestLike.status < 400) {
            const {id} = JSON.parse(requestLike.response);
            const element = document.querySelector(`.post-id-${id} .post__like`);
            const originHTML = element.innerHTML;       // 'like 0'
            const [buttonType, num] = originHTML.split(' ');    // ['like', '0']
            const count = Number(num) + 1;

            element.innerHTML = `${buttonType} ${count}`;   // 'like 1'
        }
    };

    requestLike.onreadystatechange = () => {
        if (requestLike.readyState === XMLHttpRequest.DONE) {
            likeHandleResponse();
        }
    };



    const requestDelete = new XMLHttpRequest();

    const onClickDelete = (id) => {
        const url = "/delete_ajax/";
        requestDelete.open("POST", url, true);
        requestDelete.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        requestDelete.send(JSON.stringify({id: id})); 
    };

    const deleteHandleResponse = () => {
        if (requestDelete.status < 400) {
            const {id} = JSON.parse(requestDelete.response);
            const element = document.querySelector(`.comment-id-${id}`);
            const originHTML = element.innerHTML;       
            element.remove()
        }
    };

    requestDelete.onreadystatechange = () => {
        if (requestDelete.readyState === XMLHttpRequest.DONE) {
            deleteHandleResponse();
        }
    };




    const requestPost = new XMLHttpRequest();

    const onClickPost = (id) => {
        const url = "/post_ajax/";
        requestPost.open("POST", url, true);
        requestPost.setRequestHeader(
            "Content-Type",
            "application/x-www-form-urlencoded"
        );
        const content = document.querySelector(`.post-id-${id} .replyContent`).value;
        requestPost.send(JSON.stringify({id : id, content : content}));
    };

    const postHandleResponse = () => {
        if (requestPost.status < 400) {
            const {id, content, comment_id} = JSON.parse(requestPost.response);
            const newDiv = document.createElement('div');
            newDiv.innerHTML = '<div class="comment-id-'+comment_id+'">' +content+ '<input type="button" value="삭제" onclick="onClickDelete('+comment_id+')"></div>'
            document.querySelector(`.post-id-${id} #comment`).appendChild(newDiv);

            const postDiv = document.querySelector(`.post-id-${id} #post`);
            postDiv.innerHTML = '<textarea class="replyContent" placeholder="댓글 입력"></textarea> <input type="button" value="게시" onclick="onClickPost('+id+')">'
        }
    };

    requestPost.onreadystatechange = () => {
        if (requestPost.readyState === XMLHttpRequest.DONE) {
            postHandleResponse();
        }
    };





</script>








{% endblock %}